@import "../theme/theme";

body {
  margin: 0;
  border: 1px solid red;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
